@import "tailwindcss";


.prose {
  color: #1f2937; 
  line-height: 1.8;
  font-size: 1rem;
}

.prose h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #047857; 
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.prose h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #065f46; 
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

.prose p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #374151;
}

.prose strong {
  font-weight: 700;
  color: #065f46; 
}

.prose a {
  color: #047857;
  text-decoration: underline;
  transition: color 0.2s;
}

.prose a:hover {
  color: #065f46;
}


.prose ul,
.prose ol {
  padding-left: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.prose li {
  margin-bottom: 0.5rem;
}

.prose p strong.summary {
  display: block;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #d1fae5;
  color: #065f46;
  border-left: 4px solid #047857;
  border-radius: 0.5rem;
}
